/* General styles for the body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('/bg-01.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

/* Styles for the form sections */
.form-section {
  display: flex;
  flex-direction: column;
  width: 30%; /* Each section will take up 30% of the width */
  box-sizing: border-box;
  margin: 0 10px;
}

/* Styles for the form container */
.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/* Styles for forms */
form.complete-profile-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

/* Styles for input fields */
input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Full width for input fields */
  box-sizing: border-box; /* Include borders and padding in width */
}

/* Styles for buttons */
button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(193, 30, 225);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #a320ba;
}

/* Styles for the submit button */
.submit-button {
  width: 200px;
  padding: 15px;
  font-size: 18px;
  background-color: rgb(193, 30, 225);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #a320ba;
}

/* Styles for error messages */
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

/* Styles for form buttons */
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

/* Styles for error summary */
.error-summary {
  color: red;
  font-size: 14px;
  margin-top: 20px;
}
